:root {
  --color-white: hsl(0, 0%, 97%);
  --color-black: hsl(0, 0%, 15%);
  --color-primary: hsl(243, 100%, 69%);
  --color-primary-outline: hsl(243, 100%, 69%, 40%);

  --color-surface: var(--color-white);
  --color-text: var(--color-black);

&
.dark {
  --color-surface: var(--color-black);
  --color-text: var(--color-white);
}

}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
  font-family: "kanit", system-ui;
}

input,
select,
label,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  background-color: var(--color-surface);
  color: var(--color-text);
  inline-size: min(45rem, 100% - 2rem);
  margin-inline: auto;
}