:root {
  --color-white: #f7f7f7;
  --color-black: #252525;
  --color-primary: #6C63FF;

  --color-surface: var(--color-white);
  --color-text: var(--color-black);

&.dark {
   --color-surface: #252525;
   --color-text: #f7f7f7;
 }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "kanit", system-ui;
}

input,
select,
label,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body{
  background-color: var(--color-surface);
  color: var(--color-text);
  inline-size: min(45rem,100% - 2rem);
  margin-inline: auto;
}