.text-area {
  background-color: transparent;
  color: var(--color-primary);

  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;

  font-size: 1rem;
  line-height: 1.5;

  padding: 0.5rem;

  resize: vertical;

  min-block-size: 2rem;
  max-block-size: 10rem;

  &:focus {
    outline: 2px solid var(--color-primary-outline);
  }
}
