.select{
  position: relative;
  border-radius: 5px;

  select{
    background-color: var(--color-primary);
    color: var(--color-white);
    appearance: none;
    block-size: 100%;
    inline-size: 100%;
    padding: 0.5rem;
    padding-inline-end: calc(0.5rem + 1ch + 0.5rem);
    border: none;
    border-radius: inherit;
    font-size: 1rem;
    line-height: 1.375;

    option{
      background-color: var(--color-white);
      color: var(--color-primary);
      cursor: pointer;
    }
    &:focus{
      outline: none;
     }
  }
  &::after{
    content: '^';
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0.5rem;
    transform: translateY(-50%);
    font-size: 0.75rem;
    pointer-events: none;
 }

 &:focus-within{
  outline: 2px solid var(--color-primary-outline);
  }

  &.solid {
    select {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &::after {
      color: var(--color-white);
     }
   }

  &.outlined {
    select {
      background-color: transparent;
      color: var(--color-primary);

      border: 1px solid var(--color-primary);
    }

    &::after {
       color: var(--color-primary);
     }
   }
}